body,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
dl, dd, ol, ul,
form, fieldset, legend,
table, th, td, caption,
hr {
    margin:  0;
    padding: 0;
}

*:before,
*:after {
  box-sizing: border-box;
}

html {
    background-color: #290437;
    color: #FFF;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    overflow-y: scroll;
    min-height: 100%;
}

.text-uppercase {
  text-transform: uppercase;
}

.container--viewport {
  height: 100vh;
  width: 100vw;
}

.container--viewport__content {
  text-align: center;
  position: relative;
  top: 37vh;
  margin: 0 auto;
  width: 24vw;
}

@media (max-width: 1200px) { 
  .container--viewport__content {
    width: 80vw;
  }
}

.logo {
  margin-bottom: 1.6em;
}

.strapline {
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.04em;
  line-height: 1.5;
  margin-bottom: 1.2em;
}

.button--inline {
  display: inline-block;
}

.button--outline {
  border: 2px solid rgba(255,255,255,.9);
}

.button--cta {
  color: #FFF;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0.04em;
  text-decoration: none;
  padding: 0.6em 1.3em;
  transition: all .2s ease-in-out;
}

.button--cta:hover {
  background: #FFF;
  color: #290437;
}